<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tacademy.penthouse"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" android:screenOrientation="portrait" android:launchMode="singleTask">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ranking.RankingActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".house.HouseActivity" android:screenOrientation="portrait">
       
        </activity>
        <activity
            android:name=".search.SearchResultActivity"
            android:label="@string/title_activity_search" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".search.CategorySearchActivity"
            android:label="@string/title_activity_category_search" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".editimgdialog.EditImgActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".editimgdialog.CameraActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".editimgdialog.GalleryActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".room.MyRoomInfoActivity" android:screenOrientation="portrait">
       
        </activity>
        <activity android:name=".item.ItemInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".room.UserRoomInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".browser.BrowserActivity"></activity>
      
    </application>

</manifest>
